<mat-toolbar color="primary">
    <span>Products</span>
  </mat-toolbar>
  <div style="margin: 20px;">
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="product.imageUrl" alt="{{product.name}}">
        <div class="product-details">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p><strong>Price: ₹{{ product.price }}</strong></p>
          <!-- <mat-form-field class="quantity-input"> 
            <mat-label>Quantity</mat-label>
            <input matInput type="number" [(ngModel)]="product.quantity" min="1" value="1">
          </mat-form-field> -->
          <!-- <div class="quantity-control">
            <button mat-mini-button (click)="decreaseQuantity(product)">-</button>
            <span>{{ product.quantity }}</span>
            <button mat-mini-button (click)="increaseQuantity(product)">+</button>
          </div> -->
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  