<mat-toolbar color="primary">
    <span>Products</span>
  </mat-toolbar>
  <div style="margin: 20px;">
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="product.imageUrl" alt="{{product.name}}">
        <div class="product-details">
          <label><strong>{{ product.name }}</strong></label>
          <p>{{ product.description }}</p>
          <p><strong>Price: ₹{{ product.price }}</strong></p>
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  